<!--Recommended Ads-->

<section id="recommended-ads">

    <div id="recommended-ads-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-ride="3000">
        <div class="carousel-inner">
            <% carouselAds.forEach(function(ad, index){ %>
                <div class="carousel-item <%= (index === 1) ? "active" : "" %>">
                    <h2 class="h2-font recommended-text">Našli sme inzerát, ktorý by vás mohol zaujímať.</h2>
                    <a href="/results/ad<%= ad._id %>">
                        <img class="recommended-image" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="https://via.placeholder.com/1920x1080" data-holder-rendered="true">
                    </a>
                </div>
            <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recommended-ads-carousel"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recommended-ads-carousel"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>