body {
    font-family: 'Montserrat', sans-serif;
    color: #515050;
    background-color: #f9f9f9;
}

/*FONTS*/
.h2-font{
    font-weight: 600;
    color: #1C1F23;
    padding: 0;
    font-size: 22px;
}

.h1-font{
    font-weight: 600;
    color: #212629;
    padding: 0;
    font-size: 30px;
}

.recommended-text {
    font-weight: 600;
    font-size: 38px;
}

.text-font {
    font-weight: 400;
    font-size: 14px;
}

.file-title{
    font-weight: 500;
    color: #fff;
    font-size:16px;
}

.column-description {
    color: #2d2d2d;
    font-weight: 600;
}

.button-font {
    font-weight: 500;
}

.note-font {
    font-weight: 400;
    font-size: 14px;
    color: black;
}




/*NAVBAR*/

.logo-container{
    padding-bottom: 8px;
}

.car-icon{
    color: white;
    font-size: 45px;
    margin-right: 1.25rem;
}

.logo-title{
    margin-right: 1.25rem;
    margin-bottom: 0;
}



/*Recommended Ads Section*/

#recommended-ads {
    text-align: center;
    background-color: #FCCA2D;
    color: black;
}

.recommended-image {
    height: auto;
    width: 70%;
    border-radius: 2%;
    margin: 50px;
}

.carousel-item {
    padding: 6.5% 15%;
}

#press {
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}


/*SEARCH FILTER*/
#search-filter {
    padding-top: 7rem;
}

.form-filter {
    margin: auto;
    width: 50%;
}

.form-filter-title-container {
    margin: auto;
    width: 50%;
    padding: 0 8px;
}

.search-btn {
    text-align: center;
    padding-top: 35px;
}

/*Footer*/

footer {
    margin-top: 5%;
    padding: 2.5%;
}

footer p{
    padding-top: 20px;
    font-size: 20px;
    margin: 0;
}

footer i {
    font-size: 28px;
    padding: 0 7px;
}


/*Resulst*/

.results-optionbar {
    margin: 7% 10% 0 10%;
    background-color: #FCCA2D;
    padding: 0 18px;
}

.modify-filter-btn {
    background-color: #FCCA2D;
    margin: 2.5% auto;
    border-width: 2px;
}

.pagination-bar {
    margin: 4% 10% 0 10%;
    background-color: #FCCA2D;
    padding: 0 18px;
}

.pagination-container {
    margin: 2% auto;
}

.pagination-btn {
    color: #212629;
    background-color: #f9f9f9;
}

.pagination-btn:hover {
    color: #212629;
    background-color: #FCCA2D;
    border-color: #f9f9f9;
}

.pagination-btn-active {
    color: #212629;
    background-color: #FCCA2D;
    border-color: #f9f9f9;
}


.results-container {
    margin: 2rem 10% 0 10%;
    background-color: #f9f9f9;
    padding-bottom: 25px;
    border-radius: 0.1%;
    color: #212629;
}

.result-card {
    height: 40%;
    margin-top: 24px;
    background-color: #f9f9f9;
    border: solid 2px #FCCA2D
}

.card-thumbnail {
    width: 100%;
    height: 10.5rem;
    margin: auto 0.2rem;
}

.card-link {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.card-icons {
    width: 88.5%;
    margin: 0.8rem 6.5% 0 6.5%;
    color: #FCCA2D;
}

.icon-font {
    font-size: 28px;
    margin: 0 1.1%;
}

.icon-font a{
    position: relative;
    font-size: 24px;
    padding: 0 4px;
    text-decoration: none;
    color: #212629;
}

.icon-description {
    margin: 0 3.1rem;
    color: #212629;
}

.icon-description-font {
    font-size: 14px;
}

/*Specific ad*/


.ad-container {
    margin-top: 7rem;
}

.specific-ad-icons {
    width: 88.5%;
    margin: 0.8rem 11% 0 11%;
    color: #FCCA2D;
}

.row-container {
    padding-top: 20px;
}

.report-btn {
    font-size: 18px;
    margin: 0 1.1%;
    padding-top: 20px;
}

.report-btn a {
    text-decoration: none;
    color: #212629;
}

.report-btn a:hover i {
    text-decoration: none;
    color: #e70000;
}


/*Register*/

.register-container {
    margin: 10% auto;
    width: 30%;
}

.register-container h1 {
    text-align: center;
}

.form-body {
    margin: 4% auto;
    width: 80%;
}

.register-button-container {
    margin: 5% auto 0;
    width: 100%;
    padding: 0 20px;
}

.register-type-button {
    margin-top: 4%;
}

.register-type-button button{
    width: 99%;
    color: #f9f9f9;
    border-color: #212629;
    background-color: #212629
}

/*Login*/

.no-account:hover {
    color: #212629;
}

/*Profile*/

.profile-details {
    margin: 5% auto 20%;
    width: 60%;
}

/*User Ads*/

.no-ads-title {
    margin: 18% auto;
}